@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans:wght@400;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


:root {
    --small-font: 1.2rem;
    --medium-font: 2.8rem;
    --large-font: 6rem;
    --font-background-color: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --btn-color: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}




.btn {
    padding: 20px 40px;
    border-radius: 48px;
    background: var(--btn-color);
    color: #fff;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 30px;
    cursor: pointer;
}

.btn-2 {
    padding: 20px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #fff;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 30px;
    cursor: pointer;
}

.fa-brands {
    margin-left: 10px;
    color: red;
}

.fa-brands-2 {
    margin-left: 10px;
    color: black;
}

.fa-solid {
    color: #F948B2;
}

.primary-color {
    color: #F948B2;
}



/* navbar start */


.navbar-container {
    display: flex;
    align-items: center;
    padding: 25px;
    justify-content: space-around;
}

.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--medium-font);
}

.navbar-logo p {
    font-size: var(--medium-font);
    margin-left: 10px;
    font-weight: 600;
}


.nav-info {
    display: flex;
    align-items: center;
}

.nav-info a {
    margin-right: 20px;
    text-decoration: none;
    color: rgb(48, 48, 48);
    font-size: var(--small-font);
}

.nav-info .follow-us {
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 20px 30px;
}


/* navbar end */











/* banner-start */

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-info {
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading-1 {
    font-size: var(--large-font);
    text-transform: uppercase;
    margin: 10px 0;
}

.gradient-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading-2 {
    font-size: var(--medium-font);
    font-weight: 700;
}

.No-Download {
    margin: 10px 0px;
}

.banner-img {
    margin-right: 13rem;
}

/* banner end */

/* Online-Games-container start*/

.Online-Games-container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    height: 60vh;
}

.games-info {
    text-align: center;
}

.games-info h2 {
    font-size: var(--medium-font);
    margin: 20px 0;
}

.games-imgs-conatainer {
    display: flex;
    align-items: center;
    margin: auto;
    width: 1400px;
}

.games-imgs {
    display: block;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 50px 15px;
    gap: 50px;
}

.game-img {
    position: relative;
    display: inline-block;
}

.game-img img {
    display: block;
    width: 100%;
    height: auto;
}


.game-img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 35, 35, 0.5);
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-img:hover {
    border: 4px solid #FF42A5;
    border-radius: 20px;
}

.game-img:hover .overlay {
    opacity: 1;
}

.game-img .play-icon {
    color: #ffffff;
    font-size: 48px;
}

/* Online-Games-container end*/


/* Games-container part start */

.Games-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.game-info {
    width: 350px;
    margin-right: 20vh;
    text-align: right;
}

.games-img {
    position: relative;
    display: inline-block;
}

.background-image {
    display: block;
    width: 100%;
    height: auto;
}

.foreground-image {
    position: absolute;
    left:-80px;
    top: 450px;
    width: 200px;
    z-index: 2;

}









/* Games-container part end */




.multi-games {
    background-color: #f6f3f3;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.free-online-games {
    width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-content: center;
}


.games-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px 5px 5px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
}

.games-card:hover {
    border: 1px solid #F948B2;
    color: #F948B2;
}

.games-card h3:hover {
    color: #F948B2;
}

.games-card h3 {
    color: #000000;
}





/* footer start */

.main-footer {
    background: #050331;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0 70px 0;
}

.footer-heading h3 {
    color: #fff;
    font-size: var(--medium-font);
}

.footer-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-link a {
    margin-right: 40px;
    text-decoration: none;
    color: #ffffff;
    font-size: var(--small-font);

}

.footer-social-media i {
    color: #ffffff;
    font-size: var(--medium-font);
    margin: 40px;

}

.footer-Policy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-Policy p {
    color: #c8c8c8;
    margin: 0 30px 30px 0;
}

.copyright {
    margin: 5px 0 20px 0;
    color: #cccccc;
    text-align: center;
}

/* footer end */


@media screen and (max-width:425px) {

    .navbar-container ,
    .games-imgs-conatainer ,
    .Games-container 
    {
        flex-direction: column;
    }

    .banner-container 
    {
        flex-direction: column-reverse;
    }


    


    .banner-info {
        height: 400px;
    }


    .games-imgs-conatainer {
        width: 100%;
    }


    .footer-container{
        width: 450px;
        margin: 0 auto;
    }

    .footer-link  ,
    .footer-Policy ,
    
    {
        flex-wrap: wrap;
    }

    .footer-link a ,
    .footer-Policy p{
        padding: 10px;
        text-align: center;
    }




    .nav-info {
        flex-direction: column;
    }






    .nav-info a {
        margin-top: 20px;
    }





    /* navbar end */






    .free-online-games {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, fr);
    }


}